<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="flex items-center main-logo shrink-0">
                    <img class="ml-[5px] w-8 flex-none" src="/assets/images/logo.svg" alt="" />
                    <span class="align-middle text-2xl font-semibold ltr:ml-1.5 rtl:mr-1.5 dark:text-white-light lg:inline">VRISTO</span>
                </a>
                <a
                    href="javascript:;"
                    class="flex items-center w-8 h-8 transition duration-300 rounded-full collapse-icon hover:bg-gray-500/10 hover:text-primary rtl:rotate-180 dark:text-white-light dark:hover:bg-dark-light/10"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})"
                >
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    <!-- FACTURACIÓN -->
                    <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="w-full nav-link group"
                            [ngClass]="{ active: activeDropdown.includes('facturacion') }"
                            (click)="toggleAccordion('facturacion')"
                        >
                            <div class="flex items-center">
                                <icon-menu-bill class="shrink-0 group-hover:!text-primary" />
                                <span class="ltr:pl-3 rtl:pr-3">{{ 'Facturacion' | translate }}</span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('facturacion') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('facturacion')" class="accordion-content">
                            <ul class="text-gray-500 sub-menu">
                                <li>
                                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" (click)="toggleMobileMenu()">
                                        {{ 'Lista' | translate }}
                                    </a>
                                </li>
                                <li *ngFor="let item of empresaInfoStore?.documentosDte">
                                    <a
                                        [routerLink]="['/facturacion', item.abreviatura.trim(), 'nueva']"
                                        routerLinkActive="active"
                                        (click)="toggleMobileMenu()"
                                    >
                                        {{ item.valor | translate }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- CLIENTES -->
                    <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="w-full nav-link group"
                            [ngClass]="{ active: activeDropdown.includes('clientes') }"
                            (click)="toggleAccordion('clientes')"
                        >
                            <div class="flex items-center">
                                <icon-menu-bill class="shrink-0 group-hover:!text-primary" />
                                <span class="ltr:pl-3 rtl:pr-3">{{ 'Clientes' | translate }}</span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('clientes') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('clientes')" class="accordion-content">
                            <ul class="text-gray-500 sub-menu">
                                <li>
                                    <a routerLink="/cliente/list" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Lista clientes' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/cliente/new" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Nuevo cliente' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- PRODUCTOS -->
                    <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="w-full nav-link group"
                            [ngClass]="{ active: activeDropdown.includes('productos') }"
                            (click)="toggleAccordion('productos')"
                        >
                            <div class="flex items-center">
                                <icon-menu-bill class="shrink-0 group-hover:!text-primary" />
                                <span class="ltr:pl-3 rtl:pr-3">{{ 'Productos' | translate }}</span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('productos') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('productos')" class="accordion-content">
                            <ul class="text-gray-500 sub-menu">
                                <li>
                                    <a routerLink="/productos/list" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Lista productos' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/productos/new" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Nuevo producto' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- SUCURSALES -->
                    <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="w-full nav-link group"
                            [ngClass]="{ active: activeDropdown.includes('sucursales') }"
                            (click)="toggleAccordion('sucursales')"
                        >
                            <div class="flex items-center">
                                <icon-menu-bill class="shrink-0 group-hover:!text-primary" />
                                <span class="ltr:pl-3 rtl:pr-3">{{ 'Sucursal' | translate }}</span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('sucursales') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('sucursales')" class="accordion-content">
                            <ul class="text-gray-500 sub-menu">
                                <li>
                                    <a routerLink="/sucursal/list" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Lista sucursales' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/sucursal/new" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Nuevo sucursal' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- CATEGORÍAS -->
                    <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="w-full nav-link group"
                            [ngClass]="{ active: activeDropdown.includes('categorias') }"
                            (click)="toggleAccordion('categorias')"
                        >
                            <div class="flex items-center">
                                <icon-menu-bill class="shrink-0 group-hover:!text-primary" />
                                <span class="ltr:pl-3 rtl:pr-3">{{ 'Categorias' | translate }}</span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('categorias') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('categorias')" class="accordion-content">
                            <ul class="text-gray-500 sub-menu">
                                <li>
                                    <a routerLink="/categoria/list" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Lista categorias' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/categoria/new" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Nuevo categoria' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </ng-scrollbar>
        </div>
    </nav>
</div>
